modules = ["python-3.11"]

[[ports]]
localPort = 5000
externalPort = 80

[nix]

[workflows]
runButton = "Start Web Server"

[[workflows.workflow]]
name = "Start Web Server"
author = 43405510
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
